
    <script src="https://mydatadb.neocities.org/src/DB/assets/js/aes.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
    // Use the CryptoJS library and the AES cypher to encrypt the
    // contents of the file, held in e.target.result, with the password
    // var encrypted = CryptoJS.AES.encrypt(e.target.result, password);
    // var decrypted = CryptoJS.AES.decrypt(e.target.result, password)
                // .toString(CryptoJS.enc.Latin1);

                $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip();
                });

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
