<% include partials/header %>

  <div class="container">
    <!-- <%= text %> -->
    <div class="jumbotron text-center">
      <a class="form-control"href="/register"class="btn">register here</a><br>
      <a class="form-control" href="/login" class="btn">login here</a>
    </div>
  </div>

<% include partials/footer %>
