<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  	<link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>
    <title></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
<h1 class="text-center">Log In</h1>
<form class="form-group container" action="/login" method="post">
  <input class="form-control" type="text" name="username" placeholder="User name">
  <input class="form-control" type="text" name="password" placeholder="Password">
  <div class="text-center"><br>
    <input type="submit">
    <a href="/">Cancel</a>
  </div>
</form>
