<% include partials/header %>

    <div class="text-center container lead">
      <h1 class=""><%= title %></h1>
      <p>Welcome to <%= title %>Update Page </p>

    </div>

    <div class="container jumbotron">

      <div class=" text-center">
          <h1>Sorry but you don't have enough credit for that.</h1>
          



      </div>
    </div>

<% include partials/footer %>
