<% include partials/header %>



    <div class="text-center container jumbotron">
      <h2>Sorry You don't have enough credit to post</h2>
    </div>
    <a href="/home">Back Home</a><br><br>


    <div id="accordion" class="text-center"role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="heading1">
              <h2>Buy Now</h2>
            </div>
            <div>
                <div class="card-body">
                    <form action="/stripe/charge/thirty" method="POST">
                        <script class="stripe-button"
                        src="https://checkout.stripe.com/checkout.js"
                        data-email="trifectaejournal@gmail.com"
                        data-key="pk_test_mqsHIcQhk7MQsVdWM21RbvOp"
                        data-amount="399"
                        data-name="Trifecta eJournal"
                        data-description="Post Purchase"
                        data-label="Purchase 1 month (30 Posts)"
                        data-locale="en-US"></script>
                    </form>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" role="tab" id="heading1">
              <h2>Buy Now</h2>
            </div>
            <div>
                <div class="card-body">
                    <form action="/stripe/charge/ninety" method="POST">
                        <script class="stripe-button"
                        src="https://checkout.stripe.com/checkout.js"
                        data-email="trifectaejournal@gmail.com"
                        data-key="pk_test_mqsHIcQhk7MQsVdWM21RbvOp"
                        data-amount="999"
                        data-name="Trifecta eJournal"
                        data-description="Post Purchase"
                        data-label="Purchase 3 month (90 Posts)"
                        data-locale="en-US"></script>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <script>
        // Configure Checkout
        var checkout = StripeCheckout.configure({
            key: 'pk_test_mqsHIcQhk7MQsVdWM21RbvOp',
            token: function(token) {
                window.location.replace('/stripe/charge/' + token.id)
            },
            locale: 'en-US'
        });
    </script>
    <script src="https://js.stripe.com/v3/"></script>


<% include partials/footer %>
