<% include partials/header %>

  <div class="container">
    <a id="logoutBtn"  href="/logout"><button class="" type="button">logout</button> </a>
    <a id="logoutBtn"  href="/home"><button class="" type="button">Home</button> </a>
    <a id="logoutBtn"  href="/entries/all"><button class="" type="button">Entries</button> </a>

  </div>

  <div class="text-center container lead">
    <h1 class=""><%= user.username.toUpperCase() %>'s profile Here</h1>
  </div>

  <div class="container jumbotron">
    <div class="wrapper">
      <h3> Profile Data Here</h3>


    </div>
  </div>


<% include partials/footer %>
