body,html {
  background: #C02425;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 1080px;
}

a {
  color: #00B7FF;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 110%;
  border:3px solid #000;
}
button{
  color: #000;
  font-weight: bold;
}

form.ctrl {
  display: inline-block;
  margin: 15px 20px;
}
.cancelEditBtn {
  margin: auto 20px;
}

#docDisplay {
  overflow-y: scroll;
  height: 300px;
}
.doc {
  border-top: 2px solid #fff;
}
#logoutBtn button,
#logoutBtn button:focus {
  text-decoration:none;
  outline:none;
  height: 35px;
  width: 75px;
  border-radius: 6px;
  m
}

/* Collapse quick edpost div */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  /* padding: 18px; */
  width: 100%;
  border: none;
  /* text-align: left; */
  outline: none;
  font-size: 15px;
}
/* .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} */
.qwikBtn {
  margin: auto;
}

.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


#inboxAll tr th {
  text-align: center;
}
#inboxAll {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#inboxAll td, #inboxAll th {
    border: 1px solid #ddd;
    padding: 8px;
}

#inboxAll tr:nth-child(even){background-color: #f2f2f2;}

#inboxAll tr:hover {background-color: #ddd;}

#inboxAll th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}



.cardholder {
    display: inline-block;
    /* grid-gap: 10px; */
    /* background-color: #2196F3; */
    /* padding: 10px; */
  }
  .cardholder > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid black; */
    text-align: center;
    font-size: 30px;
  }

.flip-card {
  background-color: transparent;
  margin: 10px;
  width: 225px;
  height: 200px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: inline-block;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
